  <style>
/* buttons styles */
.button-48 {
  appearance: none;
  background-color: #C5C4A6;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: medium;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #c9a994;
  /* 
  border: 2px solid #422800;
  border-radius: 30px; 
  */
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.button-row {
text-align: center; margin-top: 1.6rem;
}
  </style>

{% for item in site.data.settings.social %}
  {% assign first_char = item.link | slice: 0 %}
  {% if first_char == '/' %}
  <button class="button-48" role="button"><span class="text"><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></span></button>
  {% else %}
  <button class="button-48" role="button"><span class="text"><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></span></button>
  {% endif %}
{% endfor %}