/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content-container {
  margin-bottom: 4rem;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: $sans-serif-font-family;
}

.header a:hover {
  color:black;
}

.header-title {
  text-align: center;
}

.header-title a {
  font-size: 2rem;
  text-decoration: none;
  color: $body-color;
}

.header-subtitle {
  color: #8C6761;
}

/*
  Menu
*/

.menu {
  padding-top: 1.5rem;
  display: block;
}

.menu-content {
  margin-left: auto;
  margin-right: auto;
}

.menu-content span {
  color: #8C6761;
  font-size: 1rem;
}

/* buttons for pages */
.page-button {
  background-color: #dfb397;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 0.5em;

}

.page-button:hover {
  background-color: #FFC8A4;
}

.page-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.page-button span {
	color: #8C6761;
  vertical-align: top;
}

.page-button span:hover {
	color: #8C6761;
}

@media (min-width: 768px) {
  .page-button {
    min-width: 120px;
    padding: 0 25px;
  }

  .menu-content {
    margin-left: -100px;
    margin-right: -100px;
  }
}

.social-icons {
  float: right;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1rem;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
  font-size: 1.1rem;
}

.footer a {
  color: #858a78;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: #8c6761;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}
